@import 'reset.css';

.container {
    width: 1100px;
    margin: auto;
}

/*fonts:
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Sacramento', cursive;
*/

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

input:focus{
    border: #fff;
}

.clear-fix {
    clear: both;
}


/*************HEADER*****************/

#header {
   width: 100%;
   background-color: #fff;
   height: 80px; 
   position: fixed;
   box-shadow:  0px 16px 68px -28px rgba(0,0,0,0.75);
   z-index: 10;
}

#header .logo img {
    width: 170px;
}

#header .logo {
    padding-top: 20px;
    float: left;
    margin-right: 20px;
}


#header #nav {
    padding-left: 5px;
    
    
}


#header #nav ul li{
   display: inline-block;
    padding: 25px 7px;
}


#header #nav ul .nav-li {
    
    text-decoration: none;
    font-size: 20px;
    color: #051f4e;
    border-bottom: #fff solid 2px;
    transition: 0.25s;
  
}

#header #nav ul .nav-li:hover {
    border-bottom: #032887 solid 2px;
}


#header .register {
    float: right;
    margin-top: 20px;
  
}

#header .register svg {
    font-size: 20px;
    padding: 0 10px;
}

#header .register .English {
    padding: 10px 30px 10px 10px;
    font-size: 20px;
}

#header .register button {
    border: solid 2px #06041f;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
}

#header .register button a{
    text-decoration: none;
    font-size: 17px;
    color: #06041f;
}

/**********start***************/

#start {
    
    opacity: 0; /* Initially hide the elements */
    animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
    animation-delay: 0.5s;
    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




#start {
    width: 100%;
    background-image: url(images/start.webp);
    background-size: cover;
}

#start h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
    padding-top: 150px;
}

#start .check-list {
    margin-top: 20px;
}

#start .check-list li {
    font-size: 17px;
    line-height: 45px;
    color: #3b3d40;
}

#start .check-list svg {
    color: #153bff;
    padding-right: 10px;
}

#start p {
    color: #3b3d40;
    font-size: 15px;
    margin: 20px 0px;
}

#start .get-started span {
    display: inline-block;
    width: 250px;
    height: 40px;
    background-color: #fff;
    border: none;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 5px;

}

#start .get-started span svg {
    float: right;
    margin-right: 20px;
}

#start .get-started .submit-btn {
    padding: 20px 50px;
    border: none;
    background-color: #153bff;
    border-radius: 5px;
    vertical-align: -2px;
    transition: 0.25s;
    margin-left: 5px;
    
}


#start .get-started .submit-btn:hover{

    background-color: #0f28a5;


}
#start .get-started .submit-btn a {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

#start .evaluation {
    margin-top: 30px;
    padding-bottom: 200px;
}

#start .evaluation .evl li {
    display: inline-block;
    padding-right: 10px;
    color: #000000;
    
}

#start .evaluation .evl li svg {
    padding-left: 5px;
    color:#0a913e;
}

/*what is Lingoda*/
#about {
    opacity: 0; /* Initially hide the elements */
    animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
    animation-delay: 2s;
    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



#about .container h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #051f4e;

}



#about .about-item {
    width: 30%;
    height: 200px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
    
}

#about .about-item .item-img {

    width: 100%;
    height: 300px;
    
    border-radius: 15px;
    
    
}

#about .item1 .img1 {
    background-image: url(images/about1.webp);
    background-size: cover;
}

#about .item2 .img2 {
    background-image: url(images/about2.webp);
    background-size: cover;
}

#about .item3 .img3 {
    background-image: url(images/about3.webp);
    background-size: cover;
}

#about .about-item h3 {
    font-size: 20px;
    font-weight: 800;
    margin: 20px 0px;
    color: #051f4e;
}

#about .about-item p {
    line-height: 25px;
    color :#434A50;
}

/**********Why***************/
#why .why-item {
    width: 1100px;
    margin: 100px 0px;

}




#why {
    padding-top: 60px;
    opacity: 0; /* Initially hide the elements */
    animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
    animation-delay: 3s;
    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




#why h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #051f4e;
}



#why .container .first-item {
    
    opacity: 0; /* Initially hide the elements */
    animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
    animation-delay: 4s;
    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




#why .first-item .content1 {
    float: left;
    margin-left: 100px;
    margin-top: 130px;
} 



#why .first-item .content1 h3 {
    font-size: 25px;
    font-weight: 800;
    margin: 20px 0px;
    color: #051f4e;
}



#why .first-item .content1 p {
    line-height: 25px;
    color :#434A50;
    font-size: 18px;
}


#why .first-item .content1-img {
    
    float: right;
    width: 650px;
    height: 461px;
    
    background-image: url(images/why-1.svg);
    box-sizing: cover;
    background-repeat: no-repeat;

}




#why .container .second-item {
    
    opacity: 0; /* Initially hide the elements */
    animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
    animation-delay: 5s;
    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#why .second-item .content3 {
    float: right;
    margin-top: 80px;
    margin-right: 50px;
}



#why .second-item .content3 h3 {
    font-size: 25px;
    font-weight: 800;
    margin: 20px 0px;
    color: #051f4e;
}

#why .second-item .content3 p {
    line-height: 25px;
    color :#434A50;
    font-size: 18px;
}


#why .second-item .content2-img {
    float: left;
    width: 650px;
    height: 310px;
    
    background-image: url(images/why-2.svg);
    box-sizing: cover;
    background-repeat: no-repeat;
}



#why .container .third-item {
    
    opacity: 0; /* Initially hide the elements */
    animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
    animation-delay: 6s;
    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}






#why .third-item .content5 {
    float: left;
    margin-left: 100px;
    margin-top: 120px;
} 



#why .third-item .content5 h3 {
    font-size: 25px;
    font-weight: 800;
    margin: 20px 0px;
    color: #051f4e;
}



#why .third-item .content5 p {
    line-height: 25px;
    color :#434A50;
    font-size: 18px;
}


#why .third-item .content3-img {
    
    float: right;
    width: 650px;
    height: 461px;
    
    background-image: url(images/why-3.webp);
    box-sizing: cover;
    background-repeat: no-repeat;

}



/* WE HAVE ERROR IN CONTENT6 PART*/


#why .container .forth-item {
    
    opacity: 0; /* Initially hide the elements */
    animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
    animation-delay: 7s;
    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}






#why .forth-item .content6 {
    float: right;
    margin-top: 70px;
    margin-right: 50px;
   

}



#why .forth-item .content6 h3 {
    font-size: 25px;
    font-weight: 800;
    margin: 20px 0px;
    color: #051f4e;
}

#why .forth-item .content6 p {
    line-height: 25px;
    color :#434A50;
    font-size: 18px;
}


#why .forth-item .content4-img {
    float: left;
    width: 600px;
    height: 610px;
    
    background-image: url(images/why-4.webp);
    box-sizing: cover;
    background-repeat: no-repeat;
}

#why .forth-item .content6 button {
    padding: 15px 20px;
    width: 300px;
    margin-top: 30px;
    border: #153bff 4px solid;
    border-radius: 7px;
    background-color: #fff;
    color: #153bff;
    font-size: 20px;

}


#why .forth-item .content6 button:hover {

    border: #0f28a5 4px solid;
    color: #0f28a5;
    cursor: pointer;
  
    
}

/***********TRY************/

#try {
    
    opacity: 0; /* Initially hide the elements */
    animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
    animation-delay: 8s;
    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





#try {
    margin-top: 30px;
    margin-bottom: 80px;
}
#try .try-box {
    width: 50%;
    height: 300px;
   
   margin: 10px;
  
}

#try .container .try-content {
    display: flex;
}


#try .left h2 {
    font-size: 40px;
    margin-bottom: 40px;
}


#try .left .p1 {
    font-size: 17px;
    margin-bottom: 15px;
}




#try .left .select-box {
    height: 50px;
    background-color: #153bff;
    margin: 5px;
    border-radius: 5px;
}

#try .left .select-container {
    
    display: flex;
    margin-top: 20px;
}

#try .left .select-container .German {
    flex-basis: 60%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 25px;
    color: #fff;
    font-weight: bold;
   
}


#try .left .select-container .try-get-started {
    flex-basis: 40%;
    box-sizing: border-box;
    padding: 15px 60px;;

}

#try .left .select-container .try-get-started a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
#try .left .select-container .German svg {
    float: right;
    padding-right: 15px;
}


#try .container .right .try-img{
    text-align: center;
}

#try .container .right .try-img img {
    width: 400px;
}


/********STUDENTS*****************/


#students {
    
    opacity: 0; /* Initially hide the elements */
    animation: fadeIn 1s ease-in-out forwards; /* Define the animation */
    animation-delay: 9s;
    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





#students {
    margin-bottom: 80px;
}
#students .container h2 {

    font-size: 40px;
    font-weight: bold;
    color: #051f4e;
    margin-bottom: 40px;
}


#students .container .student-content {
    width: 100%;
    height: 400px;
   
    display: flex;
    justify-content: space-between;
}

#students .container .student-content .std-box {
    flex-basis: 23%;
    background-color: #032887;
    align-content: stretch;
    border-radius: 25px;



}

#students .container .student-content .std-1 {

    background-image: url(images/student-1.webp);
    background-size: cover;

}

#students .container .student-content .std-2 {

    background-image: url(images/student-2.webp);
    background-size: cover;

}

#students .container .student-content .std-3 {

    background-image: url(images/student-3.webp);
    background-size: cover;

}

#students .container .student-content .std-4 {

    background-image: url(images/student-4.webp);
    background-size: cover;

}

#students .student-content .icon svg {
    font-size: 60px;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    color: #fff;
    transition: 0.5s;
}


#students .student-content .icon svg:hover {
    color: #eaeaea;
}





#students .student-content .student-data {
    position: relative;
    bottom: -180px;
    left: 20px;
}

#students .student-content .student-data h3 {
    color: #fff;
    font-weight: 600px;
    font-size: 25px;
    margin-bottom: 20px;
}

#students .student-content .student-data p {
    color: #fff;
    font-weight: 400px;
    line-height: 23px;
}



/***********RECOMMEND********/
#recommend {
    margin-top: 80px;
    width: 100%;
    height: 400px;
    
    margin-bottom: 50px;
}

#recommend .container h2 {
    font-size: 40px;
    color: #051f4e;
    font-weight: bold;
}

#recommend .container .recom-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recommend .container .recom-container .recom-content {
    width: 250px;
    height: 180px;
    background-color: red;
}

#recommend .recom-container svg {
    font-size: 30px;
    color: #565758;

}
/***************NUMBERS*************/

#numbers .number-container {
    width: 100%;
    height: 450px;
    background: linear-gradient(90deg, hsla(280, 57%, 57%, 1) 0%, hsla(230, 100%, 54%, 1) 100%);
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

@keyframes slide-up {
    0% {
        transform: translateY(100%); /* Move the element off the screen */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Move the element to its original position */
    }
}

#numbers .number-container .item-number{
    animation: slide-up 2s infinite;
}

#numbers .number-container .item-number h2 {
    font-size: 100px;
    font-weight: bold;
    color: #fff;

}

#numbers .number-container .item-number p {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    font-weight: 100px;
}

#numbers .number-container .item-3 .icon-3 svg {
    font-size: 25px;
    text-align: center;
    color: rgb(255, 193, 119);
    margin-bottom: 5px;
    
}

#numbers .number-container .item-3 .icon-3 {
    text-align: center;
}



/**********PUBLICATIONS*********************/

#publication {
    margin-top: 80px;
}

#publication .container h2 {
    font-size: 40px;
    color: #051f4e;
    font-weight: bold;
}

#publication .container p {
    font-size: 17px;
    margin-top: 24px;
}

#publication .container .logos {
    margin-top: 30px;
   
    height: 150px;
    display: flex;
    justify-content: space-around;
    


}

#publication .container .logos .logo {
    width: 200px;
    height: 200px;
    
}


/*******************FAQ*********************/

#FAQ {
    margin-top: 80px;
    margin-bottom: 80px;
}

#FAQ .container h2 {
    font-size: 40px;
    color: #051f4e;
    font-weight: bold;
    margin-bottom: 60px;
}

#FAQ .container .main-container {
    
    width: 1100px;
    height: 500px;
 
   display: flex;
   justify-content: space-between;
}

#FAQ .container .main-container .faq-content {
    width: 500px;
    height: 400px;
    
    

}

#FAQ .container .main-container .faq-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 80px;
    

}

#FAQ .container .main-container .faq-container .faq-items {
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    background-color: #d4d3de;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    font-weight: 800;
}

#FAQ .container .main-container .faq-container a{
    float: right;
    padding-right: 20px;
    

}

#FAQ .container .main-container .faq-container svg {
    font-size: 20px;
    color: #153bff;
    vertical-align: 5px;
}

#FAQ .main-container .contact{
    margin-top: 30px;
    text-align: center;
}

#FAQ .main-container .contact button{
    width: 220px;
    height: 50px;
    position: relative;
    left: 0px;
    border-radius: 7px;
    z-index: -1;
   
}

#FAQ .main-container .contact .read {
    background-color: #fff;
    border: #153bff 4px solid;
    color: #153bff;
    font-weight: 800;
}

#FAQ .main-container .contact .contact-us {
    color: #fff;
    border:none;
    background-color: #153bff;
    font-weight: 800;
}


/**************OFF******************/
#off {
    margin-top: 20px;
    background: linear-gradient(90deg, hsla(0, 90%, 73%, 1) 0%, hsla(36, 89%, 68%, 1) 94%);
    width: 1100px;
    height: 300px;
    margin: auto;
    border-radius: 30px;
}


#off .container h2 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    padding-top: 30px;
    margin-left: 20px;
}

#off .container p {
    margin-left: 20px;
    margin-top: 30px;
    color: #fff;
}


#off .container .input{
   
    width: 1000px;
    height: 200px;
    margin-top: 30px;
    display: flex;
    margin-left: 20px;
    
}

#off .container .input .input-item {
    width: 250px;
    height: 50px;
    
    margin-right: 20px;
}

#off .container .input .input-1 select {
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    
}

.select-selected {
    background-color: DodgerBlue;
  }


#off .container .input .input-2 .email {
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 5px;

}


#off .container .input .input-3 .submit-btn {
    width: 150px;
    padding: 20px;
    background-color: #153bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    vertical-align: -10px;

   
}


/*****************FOOTER***************/
#footer {
    margin-top: 80px;
    width: 100%;height: 400px;
    height: 500px;
    background: linear-gradient(45deg, hsla(251, 74%, 39%, 1) 36%, hsla(295, 93%, 60%, 1) 100%);
}

#footer .container .footer-logo img {
    width: 200px;
    color: #fff;
    margin-top: 50px;
}

#footer .container .footer-container {
    
    width: 1100px;
    
    margin: auto;
    display: flex;
}


#footer .container .footer-container .footer-item {
    width: 200px;
    height: 100;
    margin-right: 10px;
    
}

#footer .container .footer-container .footer-1 .p1 {
    margin-top: 10px;
    color: #c7c5c5;
}

#footer .container .footer-container .footer-1 {
    width: 300px;
}

#footer .container .footer-container .footer-1 .p2 {
    color: #c8c6c6;
    font-size: 20px;
    font-weight: 900;
}

#footer .container .footer-container .footer-2 h3 {
    font-size: 25px;
    margin-top: 15px;
    font-weight: 800;
    color: #979595;
}

#footer .container .footer-container .footer-2 a {
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
    line-height: 10px;
    color: #c8c6c6;
}



#footer .container .footer-container .footer-3 h3 {
    font-size: 25px;
    margin-top: 15px;
    font-weight: 800;
    color: #979595;
}

#footer .container .footer-container .footer-3 a {
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
    line-height: 10px;
    color: #c8c6c6;
}


#footer .container .footer-container .footer-4 h3 {
    font-size: 25px;
    margin-top: 15px;
    font-weight: 800;
    color: #979595;
}

#footer .container .footer-container .footer-4 a {
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
    line-height: 10px;
    color: #c8c6c6;
}



#footer .container .footer-container .footer-5 h3 {
    font-size: 25px;
    margin-top: 15px;
    font-weight: 800;
    color: #979595;
}

#footer .container .footer-container .footer-5 a {
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
    line-height: 10px;
    color: #c8c6c6;
}